{% extends 'timesheets-content-base.html' %}


{% block timesheets %}
        <div class="timesheet-details">
            <h4 class="text-primary"> Timesheet Details</h4>
            <p><strong>Month:</strong> {{ data.timesheet.month }} </p>
            <p><strong>Status:</strong> {{ data.timesheet.status }}</p>
            <p><strong>Created At:</strong> {{ data.timesheet.created_at }}</p>
            <p><strong>Updated At:</strong> {{ data.timesheet.updated_at }} </p>
        </div>
{% endblock %}